.canvas-container {
  display: none;
}

.loader {
  transform: none !important;
  top: -24rem !important;
  left: -27rem !important;
  position: relative !important;
}

.rules-svg {
  fill: #4a90e2;
}

.rules-svg:hover {
  fill: #56a2fa;
}
